#game-area {
    width: 500px;
    height: 300px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    background-color: lightblue;
}

#player {
    width: 35px;
    height: 35px;
    background-color: blueviolet;
    position: absolute;
}